.gnb-nav {
  $padding: 8px;

  &-list {
    @include flexbox(start);
    margin-left: -#{$padding};
  }

  &-item {
    a {
      @include text-style(18, $primary);
      font-weight: 700;
      display: block;
      padding: $padding;
    }

    &.is-active,
    &:hover {
      a {
        color: $blue;
      }
    }

    & + & {
      margin-left: 24px - ($padding * 2);
    }
  }
}
